{{ attach_library('<%= themeNameMachine %>/accordion') }}

<section class="accordion__wrapper{{ attributes ? ' ' ~ attributes.class }}">
  {% block accordion_items %}
    {% for item in items %}
      {%
        include '@<%= themeNameMachine %>/accordion/accordion-item.twig' with {item: item} only
      %}
    {% endfor %}
  {% endblock %}
</section>
