{{ attach_library('rain_theme/accordion') }}

<section class="accordion__wrapper{{ attributes ? ' ' ~ attributes.class }}">
  {% block accordion_items %}
    {% for item in items %}
      {%
        include '@rain_theme/accordion/accordion-item.twig' with {item: item} only
      %}
    {% endfor %}
  {% endblock %}
</section>
