<script src="/jquery.min.js"></script>
<script src="/jquery.once.min.js"></script>
<script src="/drupalSettingsLoader.js"></script>
<script src="/drupal.js"></script>
<script src="/drupal.init.js"></script>
<!-- Slick -->
<script type="text/javascript" src="/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="/slick.css"/>
<link rel="stylesheet" type="text/css" href="/slick-theme.css"/>

<!-- Colorbox -->
<script type="text/javascript" src="/jquery.colorbox.js"></script>
<link rel="stylesheet" type="text/css" href="/colorbox.css"/>
