{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'block-views',
    wrapper_class
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% if content.field_title %}
      <div class="container">
        {%
          include '@<%= themeNameMachine %>/heading/heading.twig' with {
            "heading": {
              "title": content.field_title,
              "heading_level": "2",
              "modifier": "heading--section",
            },
          } only
        %}
      </div>
    {% endif %}
    {{ content|without('field_title', 'field_link') }}
    {% if content.field_link[0]['#url'] %}
      <div class="button__container container">
        <div class="button__inner">
          {% if content.field_link[0]['#url'] %}
            {% include '@<%= themeNameMachine %>/button/button.twig' with {
              "button": {
                "url": content.field_link[0]['#url'],
                "text": content.field_link[0]['#title'],
              }
            } only %}
          {% endif %}
        </div>  
      </div>
    {% endif %}
  {% endblock %}
</div>
