
// Shrink help block text so it doesn't take up so much space.
.block-help-block {
  font-size: 80%;
  font-style: italic;
}

// Make LB browser icons look better.
.layout-builder-browser-block-item {
  width: calc(45% - 2px);
  padding: 10px;
  text-decoration: none;

  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

// Reposition section links slightly.
.layout-builder__link--remove {
  top: -23px;
}

.layout-builder__link--configure {
  top: -23px;
}

// Hide handle from layout_builder_modal overrides.css
#layout-builder-modal a.tabledrag-handle .handle {
  display: none;
}

// Override Media modal image/video links.
.glb-media-library-menu {
  width: 10em !important;

  > li {
    margin-bottom: 10px;
    font-size: 20px;
    padding: 13px;
  }
}

// Override Media modal thumb height.
#layout-builder-modal img {
  height: 100%;
}
